@font-face {
  font-family: "iconfont";
  /* Project id 4923079 */
  src: url('fonts/iconfont.woff2?t=1747459895713') format('woff2'),
    url('fonts/iconfont.woff?t=1747459895713') format('woff'),
    url('fonts/iconfont.ttf?t=1747459895713') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}